@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .width-handler {
    @apply xl:max-w-7xl xl:mx-auto;
  }
  .flex-row-all-center {
    @apply flex flex-row flex-wrap justify-center items-center content-center;
  }
  .flex-col-all-center {
    @apply flex flex-col justify-center items-center content-center;
  }
  .artcileDeailtCardsSettings {
    @apply w-full bg-white rounded-lg py-6 px-11;
  }
  .commentRepley {
    @apply before:w-[36px] before:h-1 before:bg-grayDetail/30 before:block
    before:absolute before:top-1/2  before:-right-[36px];
  }
  .cardsDefaultSettings {
    @apply shadow-md hover:shadow-xl bg-white rounded-2xl p-2.5 transition-all 
    border-[1px] border-solid border-[#efefef] duration-300 cursor-pointer;
  }
  .textNoWrap {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

@layer utilities {
  .f-bold {
    font-family: "KalamehWeb-Bold";
  }
  .f-semiBold {
    font-family: "KalamehWeb-SemiBold";
  }
  .bg-landing-historySection {
    background-image: url("./Img/historySectionbackground.svg");
    background-size: 100% 100%;
  }
  .bg-heroSectoin {
    background-image: url("./Img/bg-heroSection.png");
    background-size: 100% 130vh;
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  .vertical-text {
    writing-mode: vertical-lr;
  }
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "KalamehWeb-Regular";
}
textarea,
input {
  outline: 2px solid transparent !important;
  resize: none;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--bgColor);
  background-color: #fff;
  font-family: "KalamehWeb-Regular";
}

#root {
  padding: 0;
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

/* Sizing of Leaflet Map container */
.leaflet-container {
  height: 462px;
  border-radius: 30px 30px 0 0;
}

.leaflet-bar a {
  background-color: #406dd5;
  color: white;
  margin: 5px;
  border-radius: 2px;
}
.leaflet-bar a:hover {
  background-color: #2c498d;
  color: white;
  margin: 5px;
  border-radius: 2px;
}

.leaflet-touch .leaflet-bar {
  border: none;
}
.leaflet-bar {
  position: relative;
  left: 1435px;
  top: 120px;
}

input:checked ~ .contentAcar {
  height: auto;
}

.slider {
  height: 5px;
  background: #ddd;
  position: relative;
  border-radius: 5px;
  margin: 10px auto;
}

.slider .progress {
  height: 5px;
  background: blue;
  position: absolute;
  border-radius: 5px;
  left: 25%;
  right: 25%;
}

.range-input {
  position: relative;
}
.range-input input {
  position: absolute;
  top: -15px;
  height: 5px;
  width: 100%;
  background: none;
  -webkit-appearance: none;
  pointer-events: none;
}
input[type="range"]::-webkit-slider-thumb {
  pointer-events: auto;
}

.price-input {
  width: 100%;
  display: flex;
  margin: 30px 0 35px;
}
.price-input .field {
  height: 45px;
  width: 100%;
  display: flex;
  align-items: center;
}
.field input {
  height: 90%;
  width: 90%;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #999;
  margin-left: 5px;
}
/* Customiztion of Swiper Package */
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 270px;
  border-radius: 10px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(
    --swiper-wrapper-transition-timing-function,
    initial
  );
  box-sizing: content-box;
}

.swiper-button-next {
  --swiper-navigation-size: 35px;
}

.swiper-button-prev {
  --swiper-navigation-size: 35px;
}

/* Customizing React-Calendar Package */
.react-calendar {
  border: 3px solid #d9d9d9;
  width: 100%;
  border-radius: 15px;
}

.react-calendar abbr {
  text-decoration: none;
}

.react-calendar__navigation__label:hover {
  border-radius: 12px;
}

.react-calendar__navigation__label:active {
  background: #406dd5;
  color: white;
  border-radius: 12px;
}

.react-calendar__navigation__label::after {
  background: #406dd5;
  color: white;
  border-radius: 12px;
}

.react-calendar__decade-view__years__year:active {
  background: #406dd5;
  color: white;
}

.react-calendar__navigation__arrow {
  border-radius: 12px;
}

.react-calendar__navigation__arrow:active {
  background: #406dd5;
  border-radius: 12px;
}

.react-calendar__navigation__next-button {
  background: #406dd5;
}

.react-calendar .react-calendar__tile:active {
  background: #406dd5;
  border-radius: 12px;
}

.react-calendar .react-calendar__tile:hover {
  border-radius: 12px;
}

.react-calendar .react-calendar__tile:active abbr {
  color: white;
  border-radius: 12px;
}

.react-calendar .react-calendar__tile:focus {
  background: #406dd5;
  border-radius: 12px;
}

.react-calendar__tile--now {
  background: rgb(64 109 213);
  color: white;
  border-radius: 12px;
}

.react-calendar__tile--now:active {
  background: #406dd5;
  color: white;
  border-radius: 12px;
}
